
<style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-controll {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #FAF5EE;
  background-image: url("/img/img-noise-361x370.png");
  margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }


.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

  
</style>
</head>
<body>
<div class="container">
  <form id="register-form" action="/admin/register" method="post">
    <h2>Register</h2>
    <div class="form-controll">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-controll">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-controll">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>

