<div class="page-wraper">
	<!-- <div id="loading-icon-bx"></div> -->
	<!-- Header Top ==== -->
    <header class="header rs-nav">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-right">
						<ul>
							<li>
								<!-- <select class="header-lang-bx">
									<option data-icon="flag flag-uk">English UK</option>
									<option data-icon="flag flag-us">English US</option>
								</select>
							</li>							
							<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdYL-p75JV0Ugz76t-W15HupWk8vHvRGq-VAe4_ngnBAyegQQ/viewform" target="_blank">Register</a></li> -->
							<li><marquee behavior="" direction=""><h6 class="booold" style="color:white;">Call Us: Lagos: +234 8124019660 | Abuja: +234 9031829347 | Ghana: (+233302546703) | Côte d'Ivoire (+22522468434).</h6></marquee></li>
						</ul> 
					</div>
					<div class="topbar-left">
						<ul>
							<li>
								<a href="/contact">CONTACT US</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="/"><img src="/images/ispace-logoe.png" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Author Nav ==== -->
                    <div class="secondary-menu">
                        <div class="secondary-inner">
                            <ul>
								<li><a href="https://www.facebook.com/iSPACE2015/" class="btn-link"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.linkedin.com/in/ispace-proxynet-645345181/" class="btn-link"><i class="fa fa-linkedin"></i></a></li>		
								<li><a href="https://www.instagram.com/ispaceclub/" class="btn-link"><i class="fa fa-instagram"></i></a></li>  
								<li><a href="https://twitter.com/ISPACECLUB1" class="btn-link"><i class="fa fa-twitter"></i></a></li>															
							</ul>
						</div>
                    </div>					                    
					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="/"><img src="/images/ispace-logoe.png" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">	
						<li ><a href="/">Home</a</li>
						<li class=""><a href="/about">About</a>	</li>
						<li class=""><a href="/projects">Projects</a>								
							</li>
							<li class=""> <a href="/courses">Courses</a>								
							</li>
							<li class=""><a href="/blog">Blog </a>	
							<li class=""><a href="/affiliate">Affiliate </a>
							<!-- <li><a href="https://ispaceacademy.proxynetgroup.com/foundation">Foundation </a>														 -->
							</li>
							<li class="nav-dashboard"><a href="https://promallshop.com/shop/coding-robotic-kits" target="_blank">SHOP NOW </a>								
							</li>
						</ul>
						<div class="nav-social-link">
							<a href="https://www.facebook.com/iSPACE2015/"><i class="fa fa-facebook"></i></a>							
							<a href="https://www.linkedin.com/in/ispace-proxynet-645345181/"><i class="fa fa-linkedin"></i></a>
							<a href="https://www.instagram.com/ispaceclub/"><i class="fa fa-instagram"></i></a>
							<a href="https://twitter.com/ISPACECLUB1" target="_blank" class="btn-link"><i class="fa fa-twitter"></i></a>
						</div>
                    </div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>    <div class="page-content bg-white registration-page">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(/images/welcome-img.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Registration</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="/">Home</a></li>
					<li>Registration</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
		<div class="register">
			<form name="simple-form" method="post" action="/register">
			<div class="container">
			<h1>
				Register Your Child
			</h1>
				<label class="block" for="email">
					Email:
				</label>
				<input class="block long-input" type="email" placeholder="Enter your email address" name="email" required>
				<p class="error-message top-arrow" ></p>
				<label  class="block" for="pname">
					Parent's name:
				</label>
				<input  class="block long-input" type="text" placeholder="Enter your name" name="pname" required>
				<p class="error-message top-arrow" ></p>
				<label  class="block" for="paname">
					Participants's name:
				</label>
				<input  class="block long-input" type="text" placeholder="Enter your child's name" name="paname" required>
				<p class="error-message top-arrow" ></p>
				<label  class="block" for="phone">
					Phone number:
				</label>
				<input  class="block long-input" type="tel" placeholder="Enter your phone number" name="phone" required>
				<p class="error-message top-arrow" ></p>
			<!-- grade  -->
			<h5>Class</h5>
			<div class="grade-checkbox">
				<div>
					<span class="box">
						<input type="radio" name="grade" value="Lower Grade (year 1 to 3)" checked>
						<label class="small-font" for="lower-grade">Lower Grade (year 1 to 3)</label>
					</span>
					<span class="box">
						<input type="radio" name="grade" value="Upper Grade (year 4 to 6)">
						<label class="small-font" class="small-font" for="upper-grade">Upper Grade (year 4 to 6)</label>
					</span>
				</div>
				<div>
					<span class="box">
						<input type="radio" name="grade" value="Junior Secondary School">
						<label class="small-font" for="junior-sec">Junior Secondary School </label>
					</span>
					<span class="box">
						<input type="radio" name="grade" value="Senior Secondary School">
						<label class="small-font" for="senior-sec">Senior Secondary School</label>
					</span>
				</div>
			</div>
			<!-- platform  -->
			<div class="platform">
				<h5>Learning Platform</h5>
				<span class="box">
					<input class="small-font" type="radio" value="Physical" name="platform" checked>
					<label class="small-font" for="physical">Physical</label>
				</span>
				<span class="box">
					<input class="small-font" type="radio" value="Virtual" name="platform">
					<label class="small-font" for="virtual">Virtual</label>
				</span>
				<span class="box">
					<input class="small-font" type="radio" value="Home Tutoring" name="platform">
					<label class="small-font" for="home-tutor">Home Tutoring</label>
				</span>
			</div>
			<!-- Location -->
			<div class="location">
				<h5>Location</h5>
				<span class="box">
					<input type="radio" name="location[]" value="Ikeja, Lagos" checked>
					<label class="small-font" for="lagos" >Ikeja, Lagos</label>
				</span>
				<span class="box">
					<input type="radio" name="location[]" value="Gwarinpa, Abuja">
					<label class="small-font" for="abuja" >Gwarinpa, Abuja</label>
				</span>
				<span class="box">
					<input type="radio" name="location[]" value="Ghana">
					<label class="small-font" for="ghana" >Ghana</label>
				</span>
				<span class="box">
					<input type="radio" name="location[]" value="Cote d'Ivoire">
					<label class="small-font" for="cote">Cote d'Ivoire</label>
				</span>
			</div>
			<!-- disability  -->
			<div class="disability">
				<h5>Does your child(ren) have any disability</h5>
				<span class="box">
					<input type="radio" name="disability" value="Yes" checked>
					<label class="small-font" for="yes">Yes</label>
				</span>
				<span class="box">
					<input type="radio" name="disability" value="No">
					<label class="small-font" for="no" >No</label>
				</span>
				<h5>If so, please describe</h5>
				<textarea class="long-input" name="disability_desc" id="disability" cols="50" rows="2" placeholder="Your answer"></textarea>
			</div>
			<!-- virtual  -->
			<div class="virtual">
				<h5>If virtual, kindly chose course(s) for your child</h5>
				<div>
					<span class="box">
						<input type="checkbox" name="course[]" value="Game Development">
						<label class="small-font" for="game-dev">Game Development</label>
					</span>
					<span class="box">
						<input type="checkbox" name="course[]" value="Mobile Application Development">
						<label class="small-font" for="app-dev">Mobile Application Development</label>
					</span>
					<span class="box">
						<input type="checkbox" name="course[]" value="Animation">
						<label class="small-font" for="animation">Animation</label>
					</span>
				</div>
				<div>
					<span class="box">
						<input type="checkbox" name="course[]" value="Web Development">
						<label class="small-font" for="web-dev">Web Development</label>
					</span>
					<span class="box">
						<input type="checkbox"  name="course[]" value="Artificial Intelligence">
						<label class="small-font" for="ai">Artificial Intelligence</label>
					</span>
				</div>
				<div>
					<span class="box">
						<input type="checkbox" name="python"  name="course[]" value="Python">
						<label class="small-font" for="python">Python</label>
					</span>
				</div>
				</div>
			<!-- session  -->
			<div class="session">
				<h5>Session</h5>
				<input type="checkbox" name="session[]" checked value="morning">
				<label class="small-font" for="morning">Morning</label>
				<input type="checkbox" name="session[]" value="Afternoon">
				<label class="small-font" for="afternoon">Afternoon</label>
			</div>
			<!-- Awareness  -->
			<div class="awareness">
				<h5>How did you hear about iSPACE?</h5>
				<span class="box">
					<input type="checkbox" name="about[]" value="twitter" >
					<label class="small-font" for="twitter">Twitter</label>
				</span>
				<span class="box">
					<input type="checkbox" name="about[]" value="Instagram">
					<label class="small-font" for="instagram">Instagram</label>
				</span>
				<span class="box">
					<input type="checkbox" name="about[]" value="facebook" >
					<label class="small-font" for="facebook">Facebook</label>
				</span>
				<span class="box">
					<input type="checkbox" name="about[]" value="WhatsApp">
					<label class="small-font" for="whatsapp">WhatsApp</label>
				</span>
				<span class="box">
					<input type="checkbox" name="about[]" value="referral">
					<label class="small-font" for="referral">Referral</label>
				</span>
				<span class="box">
					<input type="checkbox" name="about[]" value="Website">
					<label class="small-font" for="website">Website</label>
				</span>
				<label class="small-font block" style="margin:0" for="other">Other:</label>
				<textarea class="long-input" name="other" id="other" cols="50" rows="1"></textarea>
			</div>
			<div>
				<button type="SUBMIT" name="submit_registration" value="yes" class="register-submit">Submit
				</button>
			</div>
			</form>
		</div>
    </div>
<!-- Content END-->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="pt-logo mr-auto">
							<a href="/"><img src="/images/ispace-logoe.png" style="width:30%;" alt=""/></a>
						</div>
						<div class="pt-social-link">
							<ul class="list-inline m-a0">
								<li><a href="https://www.facebook.com/iSPACE2015/" class="btn-link"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.linkedin.com/in/ispace-proxynet-645345181/" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/ispaceclub/" class="btn-link"><i class="fa fa-instagram"></i></a></li>
								<li><a href="https://twitter.com/ispaceclub1" class="btn-link"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
						<div class="pt-btn-join">
						<a href="/contact" class="btn">CONTACT US </a>								
						</div>
					</div>
				</div>
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title">Subscribe to Our Newsletter</h5>							
                            <div class="subscribe-form m-b20">
								<form class="" action="/newsletter" method="post">
									<div class=""></div>
									<div class="input-group">
										<input name="email" required="required"  class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="subscribe" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-12 col-lg-8 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Head Office:</h5>
										<p >The Proxynet House, 5B, Adedeji Close, off Opebi Road, Ikeja, Lagos, Nigeria. <br><br> <a href="tel:+2348124019660">+2348124019660</a></p>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">ABUJA Office:</h5>
										<p >House 21, Street 693, Off Road 69, Gwarimpa, Abuja <br><br><a href="tel:+2349031829347">+2349031829347</a></p>						
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">GHANA Office:</h5>
										<p >No 18 Nii Klu Osae Avenue, Off American House, Accra Ghana <br><br><a href="tel:+233302546703">+233302546703</a></p>
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
        </div>       
    </footer>


    <button class="back-to-top fa fa-chevron-up" ></button>

</div>
</script>